html, body, #root {
  height: 100%;
  margin: 0;
  width: 100%;
  overflow-x: hidden;   
}

.app-layout {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.app-content {
  flex: 1;
  width: 100%;
  overflow-x: auto;   
  padding: 10px;
}
